[submodule "vim/pack/plugin/start/vim-surround"]
	path = vim/pack/plugin/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/plugin/start/vim-commentary"]
	path = vim/pack/plugin/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/plugin/start/vim-javascript"]
	path = vim/pack/plugin/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/pack/plugin/start/Brewfile.vim"]
	path = vim/pack/plugin/start/Brewfile.vim
	url = git@github.com:bfontaine/Brewfile.vim.git
