#!/usr/bin/env bash

# Read this symlink and export the dotfiles directory
export DOTFILES="$(dirname $(readlink $0))"

# Source my cool rcfiles
for rc in $DOTFILES/profile/*.rc; do
	echo "🔵 $rc"
	source $rc
done

# PATH additions
PATH=$HOME/bin:$PATH
PATH=/usr/local/bin:$PATH
PATH=$PATH:$DOTFILES/bin
PATH=$PATH:/usr/local/sbin
PATH=$PATH:/usr/local/share/npm/bin

