# Enable rbenv shims and completion
# NB when installing new rubies with rbenv, you may need to manually
# point to gcc like `CC=/usr/bin/gcc rbenv install 1.9.3-p194`
# https://github.com/sstephenson/ruby-build/issues/132#issuecomment-4220120
if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi

